<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title><%=pagename%></title>
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <!-- Font Awesome icons (free version)-->
    <script
      src="https://use.fontawesome.com/releases/v6.3.0/js/all.js"
      crossorigin="anonymous"
    ></script>
    <!-- Google fonts-->
    <link
      href="https://fonts.googleapis.com/css?family=Varela+Round"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
      rel="stylesheet"
    />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="css/styles.css" rel="stylesheet" />
  </head>
  <body id="page-top">
    <!-- Navigation-->
    <%-include('./includes/nav.ejs')%>
    <!-- Masthead-->
    <header class="masthead">
      <div
        class="container px-4 px-lg-5 d-flex h-100 align-items-center justify-content-center"
      >
        <div class="d-flex justify-content-center">
          <div class="text-center">
            <h1 class="mx-auto my-0 text-uppercase">Grayscale</h1>
            <h2 class="text-white-50 mx-auto mt-2 mb-5">
              A free, responsive, one page Bootstrap theme created by Start
              Bootstrap.
            </h2>
            <a class="btn btn-primary" href="#about">Get Started</a>
          </div>
        </div>
      </div>
    </header>

    <!-- Signup-->
    <section class="signup-section" id="signup">
      <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5">
          <div class="col-md-10 col-lg-8 mx-auto text-center">
            <i class="far fa-paper-plane fa-2x mb-2 text-white"></i>
            <h2 class="text-white mb-5">Subscribe to receive updates!</h2>
            <!-- * * * * * * * * * * * * * * *-->
            <!-- * * SB Forms Contact Form * *-->
            <!-- * * * * * * * * * * * * * * *-->
            <!-- This form is pre-integrated with SB Forms.-->
            <!-- To make this form functional, sign up at-->
            <!-- https://startbootstrap.com/solution/contact-forms-->
            <!-- to get an API token!-->
            <form
              class="form-signup"
              id="contactForm"
              action="/register"
              method="post"
            >
              <% if(typeof (message) != "undefined") {%>

              <div style="color: red;"><%-message%></div>

              <% } %>

              <!-- First name input-->
              <div class="row input-group-newsletter">
                <div class="col">
                  <input
                    class="form-control"
                    id="firstName"
                    type="text"
                    name="firstName"
                    placeholder="Enter first name..."
                    aria-label="Enter first name..."
                    <% if(typeof (body) != "undefined") {%>
                        value="<%=body.firstName%>"
                    <% } %>
                  />
                  <% if(typeof (errors) != "undefined") {%>

                  <div style="color: red;"><%-errors.firstNamMsge%></div>

                  <% } %>
                </div>
              </div>

              <!-- Last name input-->
              <div class="row input-group-newsletter">
                <div class="col">
                  <input
                    class="form-control"
                    id="lastName"
                    type="text"
                    name="lastName"
                    placeholder="Enter last name..."
                    aria-label="Enter last name..."
                    <% if(typeof (body) != "undefined") {%>
                        value="<%=body.lastName%>"
                    <% } %>
                  />
                  <% if(typeof (errors) != "undefined") {%>

                  <div style="color: red;"><%-errors.lastNameMsg%></div>

                  <% } %>
                </div>
              </div>

              <!-- Email address input-->
              <div class="row input-group-newsletter">
                <div class="col">
                  <input
                    class="form-control"
                    id="emailAddress"
                    type="email"
                    name="email"
                    placeholder="Enter email address..."
                    aria-label="Enter email address..."
                    data-sb-validations="required,email"
                    <% if(typeof (body) != "undefined") {%>
                        value="<%=body.email%>"
                    <% } %>
                  />
                  <% if(typeof (errors) != "undefined") {%>

                  <div style="color: red;"><%-errors.emailMsg%></div>

                  <% } %>
                </div>
              </div>

              <!-- State input-->
              <div class="row input-group-newsletter">
                <div class="col">
                  <input
                    class="form-control"
                    id="state"
                    type="text"
                    name="state"
                    placeholder="Enter state..."
                    aria-label="Enter state..."
                    <% if(typeof (body) != "undefined") {%>
                        value="<%=body.state%>"
                    <% } %>
                  />
                  <% if(typeof (errors) != "undefined") {%>

                  <div style="color: red;"><%-errors.stateMsg%></div>

                  <% } %>
                </div>
              </div>

              <!-- City input-->
              <div class="row input-group-newsletter">
                <div class="col">
                  <input
                    class="form-control"
                    id="city"
                    type="text"
                    name="city"
                    placeholder="Enter city..."
                    aria-label="Enter city..."
                    <% if(typeof (body) != "undefined") {%>
                        value="<%=body.city%>"
                    <% } %>
                  />
                  <% if(typeof (errors) != "undefined") {%>

                  <div style="color: red;"><%-errors.cityMsg%></div>

                  <% } %>
                </div>
              </div>

              <!-- Zip input-->
              <div class="row input-group-newsletter">
                <div class="col">
                  <input
                    class="form-control"
                    id="zipCode"
                    type="text"
                    name="zipCode"
                    placeholder="Enter zip..."
                    aria-label="Enter zip..."
                    <% if(typeof (body) != "undefined") {%>
                        value="<%=body.zipCode%>"
                    <% } %>
                  />
                  <% if(typeof (errors) != "undefined") {%>

                  <div style="color: red;"><%-errors.zipCodeMsg%></div>

                  <% } %>
                </div>
              </div>

              <!-- address input-->
              <div class="row input-group-newsletter">
                <div class="col">
                  <input
                    class="form-control"
                    id="address"
                    type="text"
                    name="address"
                    placeholder="Enter address..."
                    aria-label="Enter address..."
                    <% if(typeof (body) != "undefined") {%>
                        value="<%=body.address%>"
                    <% } %>
                  />
                  <% if(typeof (errors) != "undefined") {%>

                  <div style="color: red;"><%-errors.addressMsg%></div>

                  <% } %>
                </div>
              </div>

              <!-- password input-->
              <div class="row input-group-newsletter">
                <div class="col">
                  <input
                    class="form-control"
                    id="password"
                    type="password"
                    name="password"
                    placeholder="Enter password..."
                    aria-label="Enter password..."
                  />
                  <% if(typeof (errors) != "undefined") {%>

                  <div class="col" style="color: red;">
                    <%-errors.passwordMsg%>
                  </div>

                  <% } %>
                </div>
              </div>
              <div class="row input-group-newsletter">
                <div class="col">
                  <input
                    class="form-control"
                    id="confirmPassword"
                    type="password"
                    name="confirmPassword"
                    placeholder="Confirm password..."
                    aria-label="Confirm password..."
                    
                  />

                  <% if(typeof (errors) != "undefined") {%>

                  <div class="col" style="color: red;">
                    <%-errors.confirmPasswordMsg%>
                  </div>

                  <% } %>
                </div>
              </div>
              <div class="row input-group-newsletter">
                <div class="col">
                  <button
                    class="btn btn-primary"
                    id="submitButton"
                    type="submit"
                  >
                    Register!
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </section>
    <!-- Contact-->
    <section class="contact-section bg-black">
      <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5">
          <div class="col-md-4 mb-3 mb-md-0">
            <div class="card py-4 h-100">
              <div class="card-body text-center">
                <i class="fas fa-map-marked-alt text-primary mb-2"></i>
                <h4 class="text-uppercase m-0">Address</h4>
                <hr class="my-4 mx-auto" />
                <div class="small text-black-50">
                  4923 Market Street, Orlando FL
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4 mb-3 mb-md-0">
            <div class="card py-4 h-100">
              <div class="card-body text-center">
                <i class="fas fa-envelope text-primary mb-2"></i>
                <h4 class="text-uppercase m-0">Email</h4>
                <hr class="my-4 mx-auto" />
                <div class="small text-black-50">
                  <a href="#!">hello@yourdomain.com</a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4 mb-3 mb-md-0">
            <div class="card py-4 h-100">
              <div class="card-body text-center">
                <i class="fas fa-mobile-alt text-primary mb-2"></i>
                <h4 class="text-uppercase m-0">Phone</h4>
                <hr class="my-4 mx-auto" />
                <div class="small text-black-50">+1 (555) 902-8832</div>
              </div>
            </div>
          </div>
        </div>
        <div class="social d-flex justify-content-center">
          <a class="mx-2" href="#!"><i class="fab fa-twitter"></i></a>
          <a class="mx-2" href="#!"><i class="fab fa-facebook-f"></i></a>
          <a class="mx-2" href="#!"><i class="fab fa-github"></i></a>
        </div>
      </div>
    </section>
    <!-- Footer-->
    <%-include('./includes/footer.ejs')%>
    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Core theme JS-->
    <script src="js/scripts.js"></script>
    <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
    <!-- * *                               SB Forms JS                               * *-->
    <!-- * * Activate your form at https://startbootstrap.com/solution/contact-forms * *-->
    <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
    <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>
  </body>
</html>
